@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brown: #81472f;
  --color-lightpink: rgb(250, 238, 239);
  --color-darkbrown: #704232;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F9FA;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
